body{
    margin: 0;
    padding: 0;
}
#root{
    margin: 0;
    padding: 0;
    background-color: rgb(247, 241, 234);
}
img{
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 15px;
}

img:hover{
    transform: scale(1.05);
}
button{
    cursor: pointer;
    transition-duration: 0.5s;
    padding: 0;
}

button:hover{
    transform: scale(1.05);
}
* {
    box-sizing: border-box;
}
