.header-section{
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
        background-color: #d8dff5;
        height: 80px;
        padding-bottom: 15px;
        border-bottom: 2px solid rgb(246, 246, 248);
        z-index: 1000;
}
.header-div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo-img{
    height: 30px;
    position: relative;
    top: 6px;
    margin-right: 6px;
}

.digunec{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    position: relative;
    top: -2px;
}

.login-button {
    background-color: #012970;
    color: white;
    border: none;
    padding: 17px 19px;
}

.buger-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buger {
    height: 30px;
}

.divv{
    margin-top: 80px;
    text-align: center;
}

.hero-container {
    width: 100%;
    height: 70vh;
    margin-top: 10px;
    overflow: hidden;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: fixed;
    bottom: 120px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}

.overlay-img{
    height: 50px;
}

.welcome-section{
    text-align: center;
    margin-top: 10px;
    /* background-color: #dfdfe0; */
    /* background-color: #e9eaee; */
    letter-spacing: 1px;
    padding-top: 8px;
    /* margin: 8px; */
    border-radius:10px;
}

.welcome-about{
    margin: 8px;
    border-radius: 30px;
    padding: 0;
     background-color: #e9eaee; 
     display: flex;
     justify-content: center;
}

.welcome{
    /* font-family: 'Agu Display',serif; */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #012970;
    margin-bottom: 5px;
    font-size: 44px;

}
.largest{
    font-size: 10px;
    font-style: italic;
    font-family: "Agu Display", sans-serif;
    color: rgb(136, 135, 135);
}


#motto{
    font-style: italic;
    margin: 0;
    font-size: 14px;
    color: rgb(136, 135, 135);
}

.about{
    color: rgb(68, 68, 68);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 23px;
    margin-top: 6px;
    max-width: 1500px;
    padding: 3px;
}

.pad{
    padding: 5px;

} 

.first-image{
    width: 96%;
   
}

.first-image-div{
    margin: 10px;
    text-align: center;
}

.who {
    text-align: center;
    font-family: "Agu Display", sans-serif;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    color: #012970;
    margin-bottom: 0;
    margin-top: 20px;
}

.value-p{
    font-size: 25px;
    font-family: "Agu Display", sans-serif;
    font-weight: 700;
    color: #4154f1;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;

}

.knownfor-p {
    text-align: center;
    font-family: "Federant", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #012970;
    margin-bottom: 10px;
}

.ourvalue-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;

}

.colour-grid {
    background-color: #dcdfe9;
    padding: 15px;
    border-radius: 50px;
    margin: 5px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.colour-grid:hover {
    box-shadow: 5px 5px 10px 10px rgba(20, 20, 20, 0.1);
    transform: scale(1.01);
}

.snappic1-div {
    display: flex;
    justify-content: center;
}

.snappic1 {
    max-width: 80%;
    height: auto;

}

.snappic2 {
    max-width: 80%;
    height: auto;
}

.soul-p,
.vision-p {
    font-size: 25px;
    font-family: "Agu Display", sans-serif;
    color: #012970;
    font-weight: 700;
    text-align: center;
}

.soulwriteup-p,
.visionwriteup-p {
    color: rgb(68, 68, 68);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.italic{
    font-style: italic;
}

.Service {
    font-size: 25px;
    font-family: "Agu Display", sans-serif;
    font-weight: 700;
    color: #4154f1;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 8px;
}

.last-section-color1 {
    background-color: #e4e6f0;
    padding: 10px;
    border-radius: 50px;
}

.Service-time,
.Service-time p {
    color: rgb(68, 68, 68);
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin: 25px;
}

.time-image {
    height: 13px;
}

.callus {
    color: rgb(68, 68, 68);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
    line-height: 20px;

}

.service-section {
    margin-bottom: 50px;
    border-radius: 10%;
    background-color: #e4e6f0;
    width: 95%;
}

.service-sections {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lsts-anchor {
    text-decoration: none;
    font-style: italic;
    font-family: Federant, sans-serif;
}

.lsts-anchor:hover {
    text-decoration: underline;
}

footer {
    background-color: #dcdfe9;
    padding-bottom: 20px;
}

.footer-logo {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 3;
}

.social-div {
    text-align: center;
    margin-top: 8px;
}

.social-div img {
    margin: 2px;
    width: 15px;
}

.copyright-div {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    color: rgb(68, 68, 68);
}

.copyright {
    margin-bottom: 0;
}



 @media (min-width:600px) {
    .logo-img {
            height: 30px;
        }
    .digunec {
            font-size: 15px;
        } }

@media (max-width:600px) {
    
    .ourvalue-grid{
            grid-template-columns: 1fr;
        }
        
}

